/* Style Sheet for my Personal Website */
 #title{
     font-size:34px;
     font-family:Arial, Helvetica, sans-serif;
     padding:15px;
     background-color: hsla(0,0%,100%, 0.025);
     color:white;
     width:325px;
     margin:auto;
     border-radius:15px;
 }


 #NavigationBar th{
     background-color:rgba(0, 82, 71, 0.411);
     padding:8px;
     border-color:rgba(253, 251, 253, 0.658);
     border-width:2px;
     border-style:solid;
     border-radius: 10px;
 }

 #NavigationBar a{
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(253, 7, 7, 0.527);
    font-size:20px;
    text-decoration:none;
 }

 #NavigationBar th:hover{
     background-color:black;
 }

 #Main-text {
    position: absolute;
    font-size: larger;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
 }
 
 #title-page {
    position:relative;
 }

 div.description{
     margin-left:10%;
     margin-right:10%;
     text-align: center;
     padding-top: 30px;
     padding-bottom: 15px;
     padding-left: 30px;
     padding-right: 30px;
     margin-top: 30px;
     border-radius: 25px;
 }

 div.awards {
    margin-top: 5%;
    text-align:center;
    margin-bottom:5%;
 }

 #profile{
     display:block;
     margin-top:5%;
     margin-left:auto;
     margin-right:auto;
     height: 30%;
     width:30%;
     border-radius: 15px;
     border-style:solid;
     border-width:10px;
     border-color: black;
 }


 div.description h3{
     color:white;
     font-family: Arial, Helvetica, sans-serif;
     font-size:25px;
 }

 div.description p{
     color:white;
     font-family:Arial, Helvetica, sans-serif;
     font-size:20px;
     line-height: 1.5;
 }

 .project {
    background-color: rgb(235, 192, 2);
    border-radius: 40px;
    padding: 10px 30px 30px 30px;
    border-width: 20px;
    border-style: solid;
    border-color:rgb(24, 45, 73);
    margin:25px;
 }

 .project h3{
    font-family:'Roboto', Arial, Helvetica;
    font-size: 40px;
    text-transform: capitalize;
    color:#FFFFFF;
 }

 .project p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
 }

 .project #head-info{
    line-height: 16px;
    color:white;
 }


